<div class="containier-fluid" style="margin-left: 10px;">
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-5">
      <button (click)="showMonthly()" class="btn btn-primary" type="button">Month</button>
      <span style="margin-left: 10px;">
          <button (click)="showWeekly()" class="btn btn-primary" type="button">Week</button>
      </span>
      <span style="margin-left: 10px;">
        <button (click)="showLive()" class="btn btn-primary" type="button">Live</button>
    </span>
  </div>
  </div>
  <div class="row">&nbsp;</div>
  <div *ngIf="data" class="row">
    <div class="col-md-12">
      <p>
        <strong>Calendar for {{data.period}}</strong>
      </p>
    </div>
  </div>
  <div *ngIf="data" class="row">
    <div class="col-md-12">
      <table class="table table-sm table-striped table-bordered table-hover">
        <thead>
          <tr class="table-primary">
            <td>Date</td>
            <td>Time</td>
            <td>CCY</td>
            <td>Impact</td>
            <td>Indicator</td>
            <td>Actual</td>
            <td>Forecast</td>
            <td>Prev</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cal of data.calendarData">
            <td>{{cal.releaseDate}}</td>
            <td>{{cal.releaseTime}}</td>
            <td>{{cal.currency}}</td>
            <td>{{cal.impact}}</td>
            <td>{{cal.indicator}}</td>
            <td>{{cal.actual}}</td>
            <td>{{cal.forecast}}</td>
            <td>{{cal.previous}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
